body{
    background-color: black;
}


nav {
    margin: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 2;
    width: 100%;
    top: 0;
    position:fixed;
}

.container1{
    float: left;
    width: 200px;
    height: 100px;
}
.container1 img{
    width: 100%;
    height: auto;
}
.bookmarks li {
    list-style-type: none;
    float: left;
}

.socialLinks li {
    float: right;
    
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* Start Welcome Section */
#welcomeSection{

background: url(https://raw.githubusercontent.com/brandoncoplen/Portfolio/main/images/deskimg.jpeg);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 600px;
display: flex;
contain: content;
}


#deskimg{
    width: 100%;
    height: auto;
}

#welcome{
color: white;
font-size: 500%;
margin-left: 20%;
margin-top: 35%;
position: inherit;

}
/* End Welcome Section */


/* Start About Me Section */
#aboutSection{
    width: 100%;
    height: 500px;
    /* display: inline-flex; */
}

/* #aboutMeTitle{


} */

#abimg{
width: 20%;
height: 70%;
object-fit: cover;
display: inline;
margin: 2%;
border-radius: 5%;
}

#aboutcard{
    color: white;
    float: right;
    margin-left: 10%;
    margin-right: 10%;
    
}

/* End About Me Section */

/* Start Education Section */
#edcard{
display: block;
align-items: center;
text-align: center;
}
/* End Education Section */

/* Start Skills Section */
#skillsSection{
    background-color: white;
}

.skillLogo{
    color: black;
    text-align: center;
    contain: content;
}  

.skillLogo img{
    height: 60%;
}
/* End Skills Section */

.card-holder{
    /* other base styles go here */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.sectionHeader{
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 2%;
    color: white;
    display: block;
    background-color: #333;
}

.card{
contain: content;
color: white;
margin: auto;

}

strong{
    font-weight: bold;
    
}

/* Footer */
footer{
    text-align: center;
    color: white;
    margin: 1%;
    
}


#watermark
{
 position:fixed;
 bottom: .01px;
 top: 5px;
 left:300px;
 right: 5px;
 opacity:0.5;
 z-index:99;
 color:white;
 transform: rotate(45deg);
 font-size: 75px;
 
 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    gap: 20px;
  }



img{
    float: left;
    width:  200px;
    height: 200px;
    object-fit: contain;
}