body{
    background-color: #7395AE;
}
section{
    /* display: flex;
    flex-wrap: wrap; */
    contain: content;
    height: auto;
}





.container1{
    float: left;
    width: 200px;
    height: 100px;
}
.container1 img{
    width: 100%;
    height: auto;
}
.bookmarks li {
    list-style-type: none;
    float: left;
}

/* Start nav section */
nav {
    margin: 0;
    padding: 1%;
    overflow: hidden;
    background-color: #5d5c61;
    z-index: 2;
    width: 100%;
    height: 10%;
    top: 0;
    position:sticky;
    

}

.socialLinks li {
    font-size: 25px;
    
    float: right;
    --h: 1.2em;   
  
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 calc(-1*var(--_t,0em)) white, /* First color*/
      0 calc(var(--h) - var(--_t,0em)) #557a95; /* second color*/
    overflow: hidden;
    transition: .3s;
  }
  .alt {
    text-shadow: 
      0 var(--_t,0em) #0000, 
      0 calc(var(--_t,0em) - var(--h)) #0000;
}
.socialLinks :hover{
    --_t: var(--h);
}

nav li a{
    padding: 15px 16px;
    text-align: center;
    overflow: hidden;
    margin: 5px;
    
}

a{
    color: transparent;
}

a:hover{
    color: transparent;
    text-decoration: none;
    
}


/* End Nav Section */

hr{
/* margin: 2%; */
border-top: 5px dashed;
color: #5d5c61;
}






/* Start Welcome Section */
#welcomeSection{

background: url(https://raw.githubusercontent.com/brandoncoplen/Portfolio/main/images/deskimg.jpeg);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100vh;
display: flex;
contain: content;


}


#deskimg{
    width: 100%;
    height: inherit;
}

#welcome{
color: white;
font-size: 500%;
margin-left: 20%;
margin-top: 35%;
position: inherit;

}
/* End Welcome Section */


/* Start About Me Section */
#aboutSection{
    width: 100%;
    height: auto;
    /* display: inline-flex; */
}


#abimgContainer{
contain: content;
display: inline;
object-fit: contain;


}

#abimg{
width: 20%;
height: 70%;
object-fit: cover;
border-radius: 5%;
margin: 2%;
}

#aboutcard{
    max-width: 70%;
    color: white;
    float: right;
    margin-right: 10%;
    align-items: center;
    text-align: center;
    contain: content;
    object-fit: contain;
    height: auto;
    
    
}

/* End About Me Section */

/* Start Education Section */
#edcard{
display: block;
align-items: center;
text-align: center;
float: left;
margin-left: 10%;
contain: content;
object-fit: contain;
height: auto;
}

#gradPicCard{
    contain: content;
    float: right;
    margin-right: 10%;
}

#gradPic{
width: 50%;
height: 90%;
object-fit: cover;
display: inline;
margin: 2%;
border-radius: 5%;
float: right;
}
/* End Education Section */

/* Start Skills Section */
#skillsSection{
    background-color: white;
}

.skillLogo{
    color: black;
    text-align: center;
    contain: content;
    margin: 0;
    height: 100px;
    width: 100px;
    
}  

.skillLogo img{
    display: block;
    max-width: 100%;
    max-height: 65%;
}
/* End Skills Section */

/* Start Experience Section */
#excard{
align-items: center;
/* text-align: center; */
/* margin-left: 10%; */
contain: content;
object-fit: contain;
height: auto;
}
/* End Experience section */

/* Start Projects Section */
#projectsSection{
width: 100%;
height:auto;
contain: content;
}
.project{
    color: black;
    text-align: center;
    contain: content;
    margin: 2%;
    font-size: large;
}

.project img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
/* End Projects Section */

/* Start Organization Section */
#orgcard{
    /* display: block; */
align-items: center;
/* text-align: center; */
/* float: left; */
/* margin-left: 10%; */
contain: content;
object-fit: contain;
height: auto;
}
/* End Organization Section */

.card-holder{
    /* other base styles go here */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.sectionHeader{
    
    text-align: center;
    align-items: center;
    padding: 10px;
    align-items: center;
    color: white;
    display: block;
    contain: content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    background-color: #557a95;
    top: 55px;
    position:sticky;
    z-index: 400;

}

.card{
contain: content;
color: white;
margin: auto;

}

strong{
    font-weight: bold;
    
}

/* Footer */
footer{
    text-align: center;
    color: white;
    margin: 1%;
    
}


#watermark
{
 position:fixed;
 bottom: .01px;
 top: 5px;
 left:300px;
 right: 5px;
 opacity:0.5;
 z-index:99;
 color:white;
 transform: rotate(45deg);
 font-size: 75px;
 
 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    gap: 20px;
  }



img{
    float: left;
    width:  200px;
    height: 200px;
    object-fit: contain;
}


