body{
    background-color: black;
}

nav {
    margin: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 2;
    width: 100%;
    position:relative;
}

.container1{
    float: left;
    width: 200px;
    height: 100px;
}
.container1 img{
    width: 100%;
    height: auto;
}
.bookmarks li {
    list-style-type: none;
    float: left;
}

.socialLinks li {
    float: right;
    
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 25px;
}

#welcomeSection{
position: relative;
width: 100%;
height: 500px;

}